Makefile
*.cmake
libmkcal.so*
moc_*
mocs_*.cpp
*.moc
*.o
*-stamp
debian/files
debian/libmkcal*
debian/tmp
doc/html
doxygen.*
*~
*.so*
plugins/defaultinvitationplugin/libdefaultinvitationplugin.so
build
CMakeFiles
